.wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: green;
  color: white;
}

.button:hover {
  cursor: pointer;
}
